*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #313942;
}

#root {
  display: flex;
  height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

aside, article {
  overflow-y: scroll;
}

aside {
  flex: auto;
  border-left: 1px solid #a3a3a3;
}

article {
  flex: 1;
}

nav {
  padding: 6px 0px 2px;
  border-bottom: 1px solid #c1c1c1;
}

.close {
  color: #777;
  width: 15px;
  height: 15px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  vertical-align: middle;
  font: 16px/100% arial, sans-serif;
}

.close:after {
  content: '×'; /* UTF-8 symbol */
}

.close:hover{
  color: #fff;
  background-color: #ec8e92;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: none;
}

.collapsible {
  margin: 0 8px;
  border-bottom: 1px solid #d9d9d9;
}

.no-border {
  border: none;
}

.collapsible-header {
  padding: 4px 0;
}

.bold {
  color: #616161;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0 0 4px 23px;
  list-style: none;
}

li {
  padding-bottom: 1px;
}

.arrow {
  width: 10px;
  height: 10px;
  margin: 0 5px 2px 0;
  display: inline-block;
  vertical-align: middle;
}

.arrow-right {
  border-left: solid 8px #616161;
  border-bottom: solid 5px transparent;
  border-top: solid 5px transparent;
}

.arrow-down {
  border-top: solid 8px #616161;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.tablinks {
  cursor: pointer;
  padding: 4px 5px 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid #c1c1c1;
}

.active {
  border: 1px solid #ccc;
  border-bottom: 1px solid #c1c1c1;
}

.tablinks:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-bottom: 1px solid #c1c1c1;
}

.active:hover {
  border: 1px solid #ccc;
  border-bottom: 1px solid #c1c1c1;
}

.code {
  margin: 0.2em;
  padding: 0.3em;
  font-size: 0.95em;
  letter-spacing: -0.02em;
  font-family: Menlo, monospace
}

.code div {
  line-height: 16px !important;
}
